In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import time

In [2]:
pwd

'C:\\EPIC\\2016-Analysis'

In [3]:
file = 'c:\EPIC\EPIC -CEMS data/2016 csv files/2016Jan2016_1.csv'
reportfile = '2016Januaryreport.csv'
filterfile = 'filterJanuary2016.csv'

In [4]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 2275-89FB

 Directory of C:\EPIC\2016-analysis

07/24/2017  01:02 PM    <DIR>          .
07/24/2017  01:02 PM    <DIR>          ..
07/24/2017  12:47 PM    <DIR>          .ipynb_checkpoints
07/24/2017  01:01 PM            17,907 filterJanuary.ipynb
07/24/2017  12:53 PM           276,507 p1 - January2016.ipynb
               2 File(s)        294,414 bytes
               3 Dir(s)  732,397,527,040 bytes free

In [5]:
numlines=sum(1 for f in open(file,encoding='Latin'))

In [6]:
numlines

27126798

In [7]:
def func(lines):
    c=0
    open_reportfile = True
    n = lines/10000000
    rem = lines % 10000000
    s=['AAQ-1','AAQMS-1','AAQMS-2','AAQMS-3','AAQMS-4','AAQMS-5','AAQMS-6','AAQMS-7','aaq1','aaq2','aaq3','aaq4','water','water2','water3']
    while(n>=0):
        print('we are in loop ', c+1)
        data=pd.read_csv(file,skiprows=10000000*c,nrows=10000000,names=["plant","CEMS","pollutant","eventtime","emission"])
        c=c+1
        df1 = data[~data["CEMS"].isin(s)]
        df1 = df1.reset_index(drop=True)
        with open(reportfile, 'a') as f:
            df1.to_csv(f, header=False, index = False)
        del df1
        n=n-1
    ##data=pd.read_csv(file,skiprows=10000000*c,nrows=rem,names=["plant","CEMS","pollutant","eventtime","emission"])
    ##df1 = data[~data["CEMS"].isin(s)]
    ##df1 = df1.reset_index(drop=True)
    ##with open(reportfile, 'a') as f:
    ##    df1.to_csv(f, header=False)
    ##del df1

In [8]:
func(numlines)

we are in loop  1
we are in loop  2
we are in loop  3

In [10]:
df = pd.read_csv(reportfile)

In [12]:
df.columns = ['company', 'station','pollutant','date_time','emission']

In [13]:
df.head()

       company station pollutant            date_time  emission
0  ACC Limited  stack1       SO2  2016-01-01 11:00:00     16.50
1  ACC Limited  stack1        NO  2016-01-01 11:00:00    641.41
2  ACC Limited  stack1        PM  2016-01-01 11:00:00      7.64
3  ACC Limited  CEMS-3        PM  2016-01-01 11:00:00      0.50
4  ACC Limited  CEMS-2       SO2  2016-01-01 11:00:00     44.30

In [14]:
dfNull = df[df.isnull().any(axis=1)]

In [15]:
dfNull.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 5 columns):
company      0 non-null object
station      0 non-null object
pollutant    0 non-null object
date_time    0 non-null object
emission     0 non-null float64
dtypes: float64(1), object(4)
memory usage: 0.0+ bytes

In [16]:
df['emission'] = df.emission.astype('float32')

In [17]:
df.head()

       company station pollutant            date_time    emission
0  ACC Limited  stack1       SO2  2016-01-01 11:00:00   16.500000
1  ACC Limited  stack1        NO  2016-01-01 11:00:00  641.409973
2  ACC Limited  stack1        PM  2016-01-01 11:00:00    7.640000
3  ACC Limited  CEMS-3        PM  2016-01-01 11:00:00    0.500000
4  ACC Limited  CEMS-2       SO2  2016-01-01 11:00:00   44.299999

In [18]:
df.isnull().sum().sum()

0

In [33]:
##df.drop("index", axis=1, inplace=True)

In [19]:
df['year'] = df['date_time'].apply(lambda x : x[0:4])

In [20]:
df['month'] = df['date_time'].apply(lambda x : x[5:7])
df['date'] = df['date_time'].apply(lambda x : x[8:10])
df['hour'] = df['date_time'].apply(lambda x : x[11:13])
df['minute'] = df['date_time'].apply(lambda x : x[14:16])

In [21]:
df.head()

,company,station,pollutant,date_time,emission,year,month,date,hour,minute
0,ACC Limited,stack1,SO2,2016-01-01 11:00:00,16.500000,2016,01,01,11,00
1,ACC Limited,stack1,NO,2016-01-01 11:00:00,641.409973,2016,01,01,11,00
2,ACC Limited,stack1,PM,2016-01-01 11:00:00,7.640000,2016,01,01,11,00
3,ACC Limited,CEMS-3,PM,2016-01-01 11:00:00,0.500000,2016,01,01,11,00
4,ACC Limited,CEMS-2,SO2,2016-01-01 11:00:00,44.299999,2016,01,01,11,00

In [ ]:
df.to_csv(filterfile, index = False)

In [38]:
del df